* { 
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("/static/images/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 6s infinite alternate linear;
}

.logo {
    height: 100px;
}

.menu-container {
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 10px;
}

.menu-header {
    text-align: center;
}

.menu-header h1 {
    margin: 10px 0 10px 0;
}

.cerrar-sesion {
    cursor: pointer;
    background-color: red;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    width: 100%;
    padding: 10px;
    color: white;
    margin-top: 115px;
}

.cerrar-sesion:hover {
    cursor: pointer;
    background-color: rgb(164, 0, 0);
    border: none;
    border-radius: 8px;
    font-size: 30px;
    width: 100%;
    padding: 10px;
    color: white;
    margin-top: 115px;
}

.menu-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
}

.menu-buttons button {
    background-color: #216ce7;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    width: 100%;
    padding: 10px;
    color: white;
    margin: 5px;
}

.menu-buttons button:hover {
    background-color: #0f58cc;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    width: 100%;
    padding: 10px;
    color: white;
    margin: 5px;
}

.main-page-container {
    color: white;
    padding: 10px;
    text-align: center;
    display: grid;
    align-content: center;
    position: absolute;
    padding-left: 30px;
    left: 256px;
    top: 0px;
    height: 100%;
    width: 81.3%;
}

#messageContainer {
    display: none;
    position: fixed;
    top: 0px;
    left: 256px;
    background-color: #001220;
    padding: 20px;
    z-index: 9999;
    height: 100%;
    width: 100%;
    color: white;
}

#messageTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

#messageContent {
    font-size: 18px;
    margin-bottom: 20px;
}

.button-message{
    background-color: #216ce7;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    padding: 15px;
    color: white;
    margin-right: 10px;
} 

.button-message:hover {
    background-color: #0f58cc;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    padding: 15px;
    color: white;
    margin-right: 10px;
  }

.return-button {
    position: absolute;
    top: 15px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    left: 1060px;
}

.close-message-img {
    height: 30px;
}

