* { 
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.show-password, .hide-password {
    cursor: pointer;
    position: absolute;
    top: 50%; /* Ajusta la posición verticalmente */
    right: 15px; /* Ajusta la posición horizontalmente */
    transform: translateY(-50%);
    z-index: 1;
    height: 25px;
}

.password-container {
    position: relative;
    display: inline-block;
    width: 100%; /* Ajusta el ancho según sea necesario */
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("/static/images/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 6s infinite alternate linear;
}

.login-card {
    width: 180;
    padding: 20px 30px 44px;
    border-radius: 24px;
    background : #ffffff;
    text-align: center;
}

html, body {
    height: 100%;
}

button {
    cursor: pointer;
    width: 50%;
    height: 56px;
    border: 0;
    background: #216ce7;
    color: #f9f9f9;
    font-weight: 600;
    border-radius: 8px;
    font-size: 25px;
}

#AgreeButton {
    cursor: pointer;
    width: 15%;
    height: 56px;
    border: 0;
    background: #216ce7;
    color: #f9f9f9;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 25px;
}

.login-card > h2 {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
}

.login-card > h3 {
    margin: 0 0 30px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0,0,0,0.38);
}

.login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login-form > a { 
    color: #216ce7; 
}

.login-form > button, input {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border-radius: 8px;
}

input {
    border: 2px solid #ebebeb;
}

.login-form > button {
    width: 100%;
    height: 56px;
    border: 0;
    background: #216ce7;
    color: #f9f9f9;
    font-weight: 600;
}

.login-form > button:hover, #loginMessage button:hover{
    height: 56px;
    border: 0;
    background: #0f58cc;
    color: #f9f9f9;
    font-weight: 600;
}

@keyframes pan {
    100% { background-position: 15% 50%; }
}

@media (width >= 500px) {
    body {
        padding: 0;
    }
}

@media(width >= 588px) {
    .login-card {
        margin: 0;
        width: 400px;
    }
}

#loginMessage {
    background-color: #00ae00;;
    color: white;
    border-radius: 8px;
    text-align: center;
    display: none;
    position: absolute;
    top: 15%;
    height: 70%;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.logo {
    height: 200px;
}