<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
        <title>Modo Admin</title>
        <link rel="icon" type="image/png" href="static\images\udg_logo.png">
    </head>
    <body>
        <div class="menu-container">
            <div class = "menu-header">
                <img src="static\images\udg_logo.png" alt="udg_logo" class="logo">
                <h1>Modo Admin</h1>
            </div>
            <div class="menu-buttons">
                <button>Usuarios</button>
                <button>Monitoreo</button>
                <button>Recursos</button>
                <button>Configuración</button>
            </div>
        </div>
    </body>
</html>