<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="login-card">
            <img src="static\images\udg_logo.png" alt="udg_logo" class="logo">
            <h2>Iniciar sesión</h2>
            <h3>Ingresa tus datos</h3>
            <form class="login-form">
                <input type="text" id="codeInput" placeholder="Codigo de usuario"/>
                <div class="password-container">
                    <input type="password" id="passwordInput" placeholder="Contraseña"/>
                    <img src="static\images\mostrarContrasena.png" alt="Mostrar contraseña" class="show-password" id="showPassword" onclick="togglePasswordVisibility()">
                    <img src="static\images\ocultarContrasena.png" alt="Ocultar contraseña" class="hide-password" id="hidePassword" onclick="togglePasswordVisibility()" style="display: none;">
                </div>
                <a href="{{ url_for('reset_password') }}"> Recuperar contraseña </a>
                <button id="loginButton">Ingresar</button>
            </form> 
        </div>      
                
        <div id="loginMessage"></div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>