<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="login-card">
            <img src="static\images\udg_logo.png" alt="udg_logo" class="logo">
            <h2>Recuperar contraseña</h2>
            <h3>Ingresa tus datos</h3>
            <form class="login-form">
                <input
                    type="text"
                    placeholder="Codigo de usuario"
                />
                <input
                    type="text"
                    placeholder="Nueva contraseña"
                />
                <input
                    type="text"
                    placeholder="Repetir contraseña"
                />
                <a href="{{ url_for('index') }}">
                    <button type="button">Continuar</button>
                </a>
            </form>
        </div>
    </body>
</html>